<div id="component_tree_container">
  <div id="components">
    <ul id="component_tabs" class="nav nav-tabs" data-tabs="tabs">
      <li class="nav-item">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#tab_component_tree" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Component Types</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" id="search-result-tab" data-bs-toggle="tab" data-bs-target="#tab_search_result_tree" type="button" role="tab" aria-controls="search-result-tab-pane" aria-selected="true">Search results</button>
      </li>
    </ul>

    <div class="tab-content">
      <div id="tab_component_tree" class="tab-pane active">
         <div id="component_tree">
         </div>
      </div>
      <div id="tab_search_result_tree" class="tab-pane">
        <div id="search_result_tree">
        </div>
      </div>
    </div>
  </div>
</div>