<div id="portalinfo_container">
  <div class="logo">
    Tholos :: Component Type Editor
  </div>
  <div class="portal-info">
    $MainAddress<br/>
    DB Syntax: $DBSyntax | $AppVersion (dev: $devVersion)
  </div>
</div>
<div id="options_container" class="row">
    <div class="col-sm-8">
      <input id="searchText" class="form-control input-sm" placeholder="Search..." style="width: 100%;">
    </div>

    <div class="col-sm-4 text-right">
      <button class="btn btn-default btn-sm" onclick="loadComponentTree(true,'#search_result_tree',$('#searchText').val());" title="Search"><i class="fa-regular fa-search"></i></button>
      <button class="btn btn-default btn-sm" onclick="createComponentType('','');" title="New component type"><i class="fa-regular fa-plus-square"></i></button>
      <button class="btn btn-default btn-sm" onclick="loadComponentTree(true,'#component_tree','');" title="Refresh"><i class="fa-regular fa-refresh" id="globalLoading"></i></button>
    </div>
</div>

<div id="component_tree_container">
  <div id="components">
    <ul id="component_tabs" class="nav nav-tabs" data-tabs="tabs">
      <li class="nav-item">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#tab_component_tree" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Component Types</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" id="search-result-tab" data-bs-toggle="tab" data-bs-target="#tab_search_result_tree" type="button" role="tab" aria-controls="search-result-tab-pane" aria-selected="true">Search results</button>
      </li>
    </ul>

    <div class="tab-content">
      <div id="tab_component_tree" class="tab-pane active">
         <div id="component_tree">
         </div>
      </div>
      <div id="tab_search_result_tree" class="tab-pane">
        <div id="search_result_tree">
        </div>
      </div>
    </div>
  </div>
</div>