<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Tholos Component Type Editor</title>
  <link rel="shortcut icon" href="$TholosEditorAssetsDir/images/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="$TholosEditorVendorDir/bower-asset/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="$TholosEditorVendorDir/bower-asset/jquery-ui/themes/base/jquery-ui.min.css"/>
  <link rel="stylesheet" href="$TholosEditorVendorDir/bower-asset/jstree/dist/themes/default/style.min.css"/>
  <link rel="stylesheet" href="$TholosEditorVendorDir/bower-asset/toastr/toastr.min.css"/>
  <link rel="stylesheet" href="$TholosEditorAssetsDir/css/TholosEditor.css"/>
</head>
<body>
<nav class="te-toolbar">
  <span class="te-brand">
    <span class="te-brand-mark">
      <img src="$TholosEditorAssetsDir/images/tholos-logo.svg" alt="Tholos" width="22" height="22">
    </span>
    <span class="te-brand-text">Tholos Editor</span>
  </span>

  <div class="te-search input-group input-group-sm">
    <input type="text" id="searchText" class="form-control" placeholder="Search…">
    <button class="btn te-toolbar-btn" type="button"
            onclick="loadComponentTree(true,'#search_result_tree',$('#searchText').val());"
            title="Search">
      <i class="fa-regular fa-magnifying-glass"></i>
    </button>
  </div>

  <span class="te-toolbar-spacer"></span>

  <button class="btn te-toolbar-btn" type="button"
          onclick="createComponentType('','');" title="New component type">
    <i class="fa-regular fa-square-plus"></i>
  </button>
  <button class="btn te-toolbar-btn" type="button"
          onclick="loadComponentTree(true,'#component_tree','');" title="Refresh">
    <i class="fa-regular fa-arrows-rotate" id="globalLoading"></i>
  </button>
  <button class="btn te-toolbar-btn" type="button"
          data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true"
          data-bs-title="<div class='te-info-tip'><div>$MainAddress</div><div>DB: <b>$DBSyntax</b></div><div>App: <b>$AppVersion</b> (dev: $devVersion)</div></div>"
          title="Connection info">
    <i class="fa-regular fa-circle-info"></i>
  </button>
</nav>
<div id="wrapper" class="container-fluid">
  <div id="container">
    <div id="left_frame" class="resizable">
      <div class="content"></div>
    </div>
    <div id="right_frame" class="resizable">
      <div class="content"></div>
    </div>
  </div>
</div>

<script type="text/javascript">var __TholosEditorAppUrl = '$TholosEditorAppURL';</script>

<script src="$TholosEditorVendorDir/bower-asset/jquery/dist/jquery.min.js"></script>
<script src="$TholosEditorVendorDir/bower-asset/jquery-ui/jquery-ui.min.js"></script>
<script src="$TholosEditorVendorDir/bower-asset/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script defer src="$TholosEditorAssetsDir/js/fontawesome/fontawesome.min.js"></script>
<script defer src="$TholosEditorAssetsDir/js/fontawesome/regular.min.js"></script>
<script defer src="$TholosEditorAssetsDir/js/fontawesome/brands.min.js"></script>
<script src="$TholosEditorVendorDir/bower-asset/jstree/dist/jstree.min.js"></script>
<script src="$TholosEditorVendorDir/bower-asset/bootbox/dist/bootbox.min.js"></script>
<script src="$TholosEditorVendorDir/bower-asset/toastr/toastr.min.js"></script>

<script defer src="$TholosEditorAssetsDir/js/dynamic-tabs.js"></script>

<script src="$TholosEditorAssetsDir/js/TholosEditor.js"></script>

</body>
</html>