<form class="pf-form" method="post" role="form" onsubmit="return false;" id="event_form_$p_linked_component_type_id">
<!-- common fields start -->
<input type="hidden" name="action" value="saveEvent">
<input type="hidden" name="p_id" value="$p_id">
<input type="hidden" name="p_linked_component_type_id" value="$p_linked_component_type_id">
<input type="hidden" name="p_version" value="$p_version">
<input type="hidden" name="p_enabled" value="Y">
<!-- common fields end -->

  <div class="pf-field">
    <label for="p_name">Name</label>
    <input class="form-control" name="p_name" id="p_name" value="$p_name">
  </div>

  <div class="pf-field">
    <label for="p_type">Type</label>
    <select class="form-select" name="p_type" id="p_type">
<option value="PHP" [%_function_name=TholosEditor\TholosEditorCallback::_eqs;param=p_type;value=PHP;true=selected;false=%]>PHP</option>
<option value="DB" [%_function_name=TholosEditor\TholosEditorCallback::_eqs;param=p_type;value=DB;true=selected;false=%]>DB</option>
<option value="GUI" [%_function_name=TholosEditor\TholosEditorCallback::_eqs;param=p_type;value=GUI;true=selected;false=%]>GUI</option>
    </select>
  </div>

  <div class="pf-field">
    <label for="p_description">Description</label>
    <textarea class="form-control" name="p_description" id="p_description" rows="2">$p_description</textarea>
  </div>

  <div class="pf-form-footer">
    <button class="btn btn-primary" type="button" onclick="saveEvent($p_linked_component_type_id);">Save</button>
  </div>
</form>
