<form class="pf-form" method="post" role="form" onsubmit="return false;" id="method_form_$p_linked_component_type_id">
<!-- common fields start -->
<input type="hidden" name="action" value="saveMethod">
<input type="hidden" name="p_id" value="$p_id">
<input type="hidden" name="p_linked_component_type_id" value="$p_linked_component_type_id">
<input type="hidden" name="p_version" value="$p_version">
<input type="hidden" name="p_enabled" value="Y">
<!-- common fields end -->

  <div class="pf-field">
    <label for="p_name">Name</label>
    <input class="form-control" name="p_name" id="p_name" value="$p_name">
  </div>

  <div class="pf-field">
    <label for="p_description">Description</label>
    <textarea class="form-control" name="p_description" id="p_description" rows="2">$p_description</textarea>
  </div>

  <div class="pf-form-footer">
    <button class="btn btn-primary" type="button" onclick="saveMethod($p_linked_component_type_id);">Save</button>
  </div>
</form>
